@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-range_start .rdp-day_button, .rdp-range_end .rdp-day_button {
    background-color: #bef264;
    border: 1px solid #bef264;
    color: #000;
}

.rdp-range_middle, .rdp-range_end, .rdp-range_start {
background: #010101;
}   